<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Регистрация</title>
</head>
<body>

<h2>Регистрация</h2>

<form method="post">
    <label>
        Логин:
        <input type="text" name="username" required>
    </label>
    <br><br>

    <label>
        Пароль:
        <input type="password" name="password" required>
    </label>
    <br><br>

    <button type="submit">Зарегистрироваться</button>
</form>

<p>
    <a href="{{ url_for('login') }}">Назад ко входу</a>
</p>

</body>
</html>